
.titulo{
  text-align: center;
}
.respostas1 {
  display:inline-block;
  padding-right:450px;
  border: 2px solid black;
  text-align: center;
  height: 30%;
}
.respostas2 {
  display:inline-block;
  padding-right: 450px;
  border: 2px solid black;
  text-align: center;
  height: 30%;
}
